//混合 语法: .命名{ }
/* 混合不加 () 会把它一起编译到css，加 () 就不会把它编译到css 这已加() */
.juzhon(@w: 20px, @h: 20px, @c: #bfa) {
    width           : @w;
    height          : @h;
    background-color: @c;
}

.inner {
    .juzhon(100px, 100px, red);
}

.inner2 {
    .juzhon(50px, 50px, green);
}