#wrap {
    width           : 200px;
    height          : 200px;
    background-color: red;

    .inner {
        width           : 100px;
        height          : 100】px;
        background-color: green;
    }
}