/* 这是可见注释 */
//这是不可见注释
#wrap{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: yellowgreen;
        .inner{
            position: absolute;
            width: 75px;
            height: 75px;
            background-color: white;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
}